# Xcode
*.xcodeproj/
xcuserdata/
*.xcworkspace/
DerivedData/
/lab1_os.xcodeproj/

# Build files
*.exe
*.bin
*.txt

# macOS
.DS_Store

# Build directories
build/
cmake-build-*/

# Test reports
allure-report/
test_results.xml
